* {
  margin: 0;
  padding: 0;
  --main_color: black;
  --secondary_color: #ffbd59;
  font-family: "Bungee", cursive;
}

body {
  background-color: var(--main_color);
}
#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main_color);
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_color);
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  height: 80px;
  src: "../content/logo.png";
}

#hero {
  background-image: url(../content/hero_image.png);
  background-size: cover;
  height: 80vw;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero_text {
  color: white;
  font-size: 5rem;
}

.nav_button {
  background-color: var(--main_color);
  border: none;
  color: var(--secondary_color);
  font-size: 1.3rem;
  height: 50px;
  width: 80px;
  margin: 15px;
}

.nav_button:hover,
.nav_button:focus {
  border-bottom: var(--secondary_color) 2px solid;
}

#text {
  background-color: var(--main_color);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraph {
  font-size: 1.2rem;
  color: white;
}

#footer {
  background-color: var(--main_color);
  align-self: stretch;
  justify-self: flex-end;
}

#menu_section {
  background-color: var(--secondary_color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  align-items: center;
}

#menu {
  font-size: 8rem;
}

#button_container {
  display: flex;
  gap: 15px;
}

.menu_button {
  background-color: var(--secondary_color);
  border: none;
  font-size: 1rem;
  margin: 2px;
}

.menu_button:hover,
.menu_button:focus {
  border-bottom: black 2px solid;
}

#menu_general {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 100px;
  flex: auto;
}

#menuCard1,
#menuCard2,
#menuCard3 {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: auto;
  text-align: center;
}

#about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}

#about_title,
#about1,
#about2,
#about3 {
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}
