* {
  margin: 0;
  padding: 0;
  --main_color: black;
  --secondary_color: #ffbd59;
}

body {
  background-color: var(--main_color);
}
#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main_color);
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main_color);
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  height: 80px;
  src: "../content/logo.png";
}

#hero {
  background-image: url(../content/hero_image.png);
  background-size: cover;
  height: 80vw;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero_text {
  color: white;
  font-size: 5rem;
}

.nav_button {
  background-color: var(--main_color);
  border: none;
  color: var(--secondary_color);
  font-size: 1.3rem;
  height: 50px;
  width: 80px;
  margin: 15px;
}

.nav_button:hover,
.nav_button:focus {
  border-bottom: var(--secondary_color) 2px solid;
}

#text {
  background-color: var(--main_color);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraph {
  font-size: 1.2rem;
  color: white;
}

#footer {
  background-color: var(--main_color);
}
