* {
  margin: 0;
  padding: 0;
  --main_color: black;
  --secondary_color: #ffbd59;
}

body {
  background-color: var(--main_color);
}
#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main_color);
}

#menu_section {
  background-color: var(--secondary_color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#menu {
  font-size: 2.5rem;
}

#button_container {
  display: flex;
  gap: 15px;
}

.menu_button {
  background-color: var(--secondary_color);
  border: none;
  font-size: 1rem;
}

.menu_button:hover,
.menu_button:focus {
  border-bottom: black 2px solid;
}

#menu_general {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}

#menuCard1,
#menuCard2,
#menuCard3 {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
